<!-- Anime Details will be here: -->

<!-- Add more details for anime later... -->

<h1><%=animeRec.title%></h1>
<hr>
<li><img src="<%=animeRec.images.jpg.image_url%>" alt="anime"></li>
<li><%=animeRec.aired.string%></li>
<li><%=animeRec.duration%></li>
<li><%=animeRec.rating%></li>
<li><%=animeRec.score%></li>
<li><%=animeRec.synopsis%></li>

<iframe width="320" height="240"
src="<%=animeRec.trailer.embed_url%>">
</iframe>


<hr>

<h1>Reviews: </h1>
<form action="/reviews/new" method="GET">
    <input type="hidden" value="<%=animeRec.mal_id %>" name="anime_id">
   <button type="submit">Write a Review</button>
</form>

<!-- List the review here! -->
<ul>
    <%reviews.forEach((review)=>{%>
        <li>Title: <%=review.title%></li>
        <li>Content: <%=review.content%></li>
        <hr>
    <%})%>
</ul>