<style>
   #fav-btn{
    display: flex;
    justify-content: left;
   }
   #fav{
    margin-left: 20px;
    margin-top: 10px;
   }

   #rev-btn{
    display: flex;
    justify-content: left;
   }
   #rev{
    margin-left: 20px;
    margin-top: 10px;
   }
   #cardd{
      width: 70%;
      margin-left: 15%;
      background-color: rgba(255, 255, 255, 0.324);
      padding: 10px;
      justify-content: center;
  }
</style>
<!-- Anime Details will be here: -->

<!-- Add more details for anime later... -->
<br>

<!-- include add to favourite btton! -->

<!-- It should save only the anime name, image and ID and user ID! -->
<div id="fav-btn">
    <h1><%=animeRec.title%></h1>
    <form  action="/details/addToFavorite/<%=animeRec.mal_id%>" method="POST">
        <input type="hidden" value="<%=animeRec.mal_id %>" name="anime_id">
        <input type="hidden" value="<%=animeRec.title %>" name="name">
        <input type="hidden" value="<%=animeRec.images.jpg.image_url %>" name="image">
        <button type="submit" class="btn btn-warning" id="fav">Add To Favourite</button>
    </form>
</div>


<div class="card" id="cardd">
  <div class="card-body">
    <img src="<%=animeRec.images.jpg.image_url%>" alt="anime">
    <li><%=animeRec.aired.string%></li>
    <li><%=animeRec.duration%></li>
    <li><%=animeRec.rating%></li>
    <li><%=animeRec.score%></li>
    <li><%=animeRec.synopsis%></li>
  </div>

  <iframe width="320" height="240"
  src="<%=animeRec.trailer.embed_url%>">
  </iframe>

</div>

<hr>









<hr>
<div id="rev-btn">
    <h1>Reviews: </h1>
<form action="/reviews/new" method="GET">
    <input type="hidden" value="<%=animeRec.mal_id %>" name="anime_id">
   <button type="submit" class="btn btn-warning" id="rev">Add a Review</button>
</form>
    
</div>
<br>


<!-- List the review here! -->
<ul>
    <%reviews.forEach((review)=>{%>
        <strong><%=review.userId%></strong>
        <li>Title: <%=review.title%></li>
        <li>Content: <%=review.content%></li>
        <p>
            <strong><%= moment(review.createdAt).calendar() %></strong>
        </p>
        <hr>
    <%})%>
</ul>

