<h1>Where This Anime From?</h1>
<hr>
<h1>Anime Name- English: <%=pic.result[0].anilist.title.english%></h1>
<h1>Anime Name- Romaji: <%=pic.result[0].anilist.title.romaji%></h1>
<h1>Synonyms: <%=pic.result[0].anilist.synonyms%></h1>

<h1>Episode: <%=pic.result[0].episode%></h1>
<h1>From: <%=pic.result[0].from%></h1>
<h1>To: <%=pic.result[0].to%></h1>

<video width="320" height="240" controls>
    <source src="<%=pic.result[0].video%>" type="video/mp4">
    Your browser does not support the video tag.
  </video>

<img src="<%=pic.result[0].image%>" alt="anime">

<hr>

